<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compare Graph</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
    <div class="main_box">
        <img src="http://127.0.0.1:5000/normal_graph_comp/10/4/1000" alt="plot">
        <img src="http://127.0.0.1:5000/normal_graph/10/4/1000">
    </div>
</body>

</html>